In [1]:
import pandas as pd

In [162]:
df1 = pd.read_csv('resale-flat-prices-based-on-approval-date-2000-feb-2012.csv')
df2 = pd.read_csv('resale-flat-prices-based-on-registration-date-from-mar-2012-to-dec-2014.csv')
df3 = pd.read_csv('resale-flat-prices-based-on-registration-date-from-jan-2015-onwards.csv')

In [349]:
df4 = pd.read_csv('mergedHDB2.csv')

In [350]:
column = [col for col in df4.columns if 'Nearest'  in col]

In [351]:
df4 = df4.drop(['block', 'flat_model', 'remaining_lease', 'street_name', 'area', 'storey_range']  + column, axis= 1)

In [163]:
df = pd.concat([df1,df2,df3])

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [35]:
mapp = pd.read_csv('area_mapping.csv')

In [23]:
mapp = mapp.iloc[:,1:]

In [37]:
columns = [col for col in mapp.columns if ('ratio' not in col and 'total' not in col)]
columns  = [col for col in columns if ('education' in col or 'income' in col or 'dwelling' in col or 'area' in col)]

In [41]:
mapp = mapp.loc[:, columns]

In [51]:
df.head()

,block,flat_model,flat_type,floor_area_sqm,lease_commence_date,month,remaining_lease,resale_price,storey_range,street_name,town
0,216,New Generation,3 ROOM,73.0,1976,2000-01,NaN,159000.0,07 TO 09,ANG MO KIO AVE 1,ANG MO KIO
1,215,New Generation,3 ROOM,73.0,1976,2000-01,NaN,167000.0,07 TO 09,ANG MO KIO AVE 1,ANG MO KIO
2,218,New Generation,3 ROOM,67.0,1976,2000-01,NaN,163000.0,07 TO 09,ANG MO KIO AVE 1,ANG MO KIO
3,304,New Generation,4 ROOM,97.0,1977,2000-01,NaN,260000.0,04 TO 06,ANG MO KIO AVE 1,ANG MO KIO
4,221,Improved,5 ROOM,127.0,1993,2000-01,NaN,408000.0,10 TO 12,ANG MO KIO AVE 1,ANG MO KIO

In [61]:
a = [mapp.area.str.split(',', expand=  True)[i].unique() for i in range (5)]

In [68]:
towns = []
town.append(i) for i in range(5) f

[array(['BUKIT MERAH', 'BUKIT TIMAH', 'NOVENA', 'TOA PAYOH', 'KALLANG',
        'MARINE PARADE', 'BEDOK', 'PASIR RIS', 'HOUGANG', 'ANG MO KIO',
        'CLEMENTI', 'PIONEER', 'BUKIT PANJANG', 'MANDAI', 'YISHUN'],
       dtype=object),
 array(['OUTRAM', 'TANGLIN', 'NEWTON', None, 'GEYLANG', 'MARINA EAST',
        'TAMPINES', 'SENGKANG', 'BISHAN', 'JURONG WEST', 'BUKIT BATOK',
        'WOODLANDS', 'SEMBAWANG'], dtype=object),
 array(['QUEENSTOWN', None, 'PAYA LEBAR', 'SERANGOON', 'JURONG EAST',
        'CHOA CHU KANG'], dtype=object),
 array([None, 'PUNGGOL', 'BOON LAY'], dtype=object),
 array([None, 'TUAS'], dtype=object)]

In [74]:
town = []
for i in range(5):
    town.extend(list(a[i]))

In [85]:
town = list(set(town))

In [79]:
mapp = mapp.drop_duplicates('area')

In [86]:
town = pd.DataFrame(town)

In [108]:
x = town.merge(mapp, left_on = 0, right_on = 0)

In [96]:
x.append(town.merge(mapp,))

,0,area,education_polytechnic,education_post_secondary,education_pre_primary,education_primary,education_prof_qualification_diploma,education_secondary,education_university,income_below_sgd_1000,...,dwelling_hdb_1_and_2_room_flats,dwelling_hdb_3_room_flats,dwelling_hdb_4_room_flats,dwelling_hdb_5_room_and_executive_flats,dwelling_landed_properties,dwelling_others,1,2,3,4
0,TOA PAYOH,TOA PAYOH,2800,1200,1000,7300,300,5400,2700,1600,...,4900,15200,10000,6800,1800,500,None,None,None,None
1,PASIR RIS,"PASIR RIS,TAMPINES",11600,6800,5100,25900,1900,23400,12900,1700,...,3200,13700,41600,41900,2900,300,TAMPINES,None,None,None
2,BEDOK,BEDOK,5500,4200,3200,18400,700,15000,7500,2200,...,4000,21800,21000,13600,12300,300,None,None,None,None
3,CLEMENTI,CLEMENTI,900,900,1500,5300,200,3100,1700,800,...,1200,10500,8500,3000,1600,200,None,None,None,None
4,MANDAI,"MANDAI,WOODLANDS",6300,5700,3700,18400,800,17900,3900,1100,...,3200,6900,29900,27000,100,0,WOODLANDS,None,None,None
5,BUKIT PANJANG,"BUKIT PANJANG,BUKIT BATOK,CHOA CHU KANG",13200,7600,6700,31600,1500,28900,12400,1700,...,3200,14900,51600,41500,3700,300,BUKIT BATOK,CHOA CHU KANG,None,None
6,BUKIT TIMAH,"BUKIT TIMAH,TANGLIN",600,1900,1400,7100,200,4900,3000,400,...,0,500,900,1000,10000,300,TANGLIN,None,None,None
7,NOVENA,"NOVENA,NEWTON",500,500,600,3200,100,2000,1000,100,...,900,2800,2200,1100,1800,100,NEWTON,None,None,None
8,KALLANG,"KALLANG,GEYLANG,PAYA LEBAR",2800,2200,2900,11300,900,9100,4200,2400,...,10200,20400,17800,9100,1500,800,GEYLANG,PAYA LEBAR,None,None
9,MARINE PARADE,"MARINE PARADE,MARINA EAST",400,500,1000,2400,100,1700,1100,300,...,1400,2800,1700,1300,2000,100,MARINA EAST,None,None,None
10,PIONEER,"PIONEER,JURONG WEST,JURONG EAST,BOON LAY,TUAS",7200,6300,5800,27900,700,20600,7400,1400,...,3900,18700,39100,36800,1000,100,JURONG WEST,JURONG EAST,BOON LAY,TUAS
11,BUKIT MERAH,"BUKIT MERAH,OUTRAM,QUEENSTOWN",4100,3700,3700,15100,300,9100,5100,3300,...,18100,32900,23900,14000,1200,300,OUTRAM,QUEENSTOWN,None,None
12,HOUGANG,"HOUGANG,SENGKANG,SERANGOON,PUNGGOL",13300,8900,11100,49100,1500,36800,14900,3200,...,5400,18400,78600,61600,17600,400,SENGKANG,SERANGOON,PUNGGOL,None
13,ANG MO KIO,"ANG MO KIO,BISHAN",4400,3800,4300,17500,600,12300,6500,2600,...,6100,27500,24600,13800,8100,400,BISHAN,None,None,None
14,YISHUN,"YISHUN,SEMBAWANG",6000,4000,4600,19500,500,14100,5800,1000,...,2700,14000,39100,22800,2500,200,SEMBAWANG,None,None,None
0,TOA PAYOH,TOA PAYOH,2800,1200,1000,7300,300,5400,2700,1600,...,4900,15200,10000,6800,1800,500,None,None,None,None
1,PASIR RIS,"PASIR RIS,TAMPINES",11600,6800,5100,25900,1900,23400,12900,1700,...,3200,13700,41600,41900,2900,300,TAMPINES,None,None,None
2,BEDOK,BEDOK,5500,4200,3200,18400,700,15000,7500,2200,...,4000,21800,21000,13600,12300,300,None,None,None,None
3,CLEMENTI,CLEMENTI,900,900,1500,5300,200,3100,1700,800,...,1200,10500,8500,3000,1600,200,None,None,None,None
4,MANDAI,"MANDAI,WOODLANDS",6300,5700,3700,18400,800,17900,3900,1100,...,3200,6900,29900,27000,100,0,WOODLANDS,None,None,None
5,BUKIT PANJANG,"BUKIT PANJANG,BUKIT BATOK,CHOA CHU KANG",13200,7600,6700,31600,1500,28900,12400,1700,...,3200,14900,51600,41500,3700,300,BUKIT BATOK,CHOA CHU KANG,None,None
6,BUKIT TIMAH,"BUKIT TIMAH,TANGLIN",600,1900,1400,7100,200,4900,3000,400,...,0,500,900,1000,10000,300,TANGLIN,None,None,None
7,NOVENA,"NOVENA,NEWTON",500,500,600,3200,100,2000,1000,100,...,900,2800,2200,1100,1800,100,NEWTON,None,None,None
8,KALLANG,"KALLANG,GEYLANG,PAYA LEBAR",2800,2200,2900,11300,900,9100,4200,2400,...,10200,20400,17800,9100,1500,800,GEYLANG,PAYA LEBAR,None,None
9,MARINE PARADE,"MARINE PARADE,MARINA EAST",400,500,1000,2400,100,1700,1100,300,...,1400,2800,1700,1300,2000,100,MARINA EAST,None,None,None
10,PIONEER,"PIONEER,JURONG WEST,JURONG EAST,BOON LAY,TUAS",7200,6300,5800,27900,700,20600,7400,1400,...,3900,18700,39100,36800,1000,100,JURONG WEST,JURONG EAST,BOON LAY,TUAS
11,BUKIT MERAH,"BUKIT MERAH,OUTRAM,QUEENSTOWN",4100,3700,3700,15100,300,9100,5100,3300,...,18100,32900,23900,14000,1200,300,OUTRAM,QUEENSTOWN,None,None
12,HOUGANG,"HOUGANG,SENGKANG,SERANGOON,PUNGGOL",13300,8900,11100,49100,1500,36800,14900,3200,...,5400,18400,78600,61600,17600,400,SENGKANG,SERANGOON,PUNGGOL,None
13,ANG MO KIO,"ANG MO KIO,BISHAN",4400,3800,4300,17500,600,12300,6500,2600,...,6100,27500,24600,13800,8100,400,BISHAN,None,None,None
14,YISHUN,"YISHUN,SEMBAWANG",6000,4000,4600,19500,500,14100,5800,1000,...,2700,14000,39100,22800,2500,200,SEMBAWANG,None,None,None

In [110]:
town1 = town.merge(mapp, left_on = 0, right_on = 1, how = 'inner').rename(columns = {'0_x': 0})

,key_0,0,area,education_polytechnic,education_post_secondary,education_pre_primary,education_primary,education_prof_qualification_diploma,education_secondary,education_university,...,dwelling_hdb_3_room_flats,dwelling_hdb_4_room_flats,dwelling_hdb_5_room_and_executive_flats,dwelling_landed_properties,dwelling_others,0_y,1,2,3,4
0,TANGLIN,TANGLIN,"BUKIT TIMAH,TANGLIN",600,1900,1400,7100,200,4900,3000,...,500,900,1000,10000,300,BUKIT TIMAH,TANGLIN,None,None,None
1,GEYLANG,GEYLANG,"KALLANG,GEYLANG,PAYA LEBAR",2800,2200,2900,11300,900,9100,4200,...,20400,17800,9100,1500,800,KALLANG,GEYLANG,PAYA LEBAR,None,None
2,NEWTON,NEWTON,"NOVENA,NEWTON",500,500,600,3200,100,2000,1000,...,2800,2200,1100,1800,100,NOVENA,NEWTON,None,None,None
3,MARINA EAST,MARINA EAST,"MARINE PARADE,MARINA EAST",400,500,1000,2400,100,1700,1100,...,2800,1700,1300,2000,100,MARINE PARADE,MARINA EAST,None,None,None
4,BUKIT BATOK,BUKIT BATOK,"BUKIT PANJANG,BUKIT BATOK,CHOA CHU KANG",13200,7600,6700,31600,1500,28900,12400,...,14900,51600,41500,3700,300,BUKIT PANJANG,BUKIT BATOK,CHOA CHU KANG,None,None
5,WOODLANDS,WOODLANDS,"MANDAI,WOODLANDS",6300,5700,3700,18400,800,17900,3900,...,6900,29900,27000,100,0,MANDAI,WOODLANDS,None,None,None
6,BISHAN,BISHAN,"ANG MO KIO,BISHAN",4400,3800,4300,17500,600,12300,6500,...,27500,24600,13800,8100,400,ANG MO KIO,BISHAN,None,None,None
7,TAMPINES,TAMPINES,"PASIR RIS,TAMPINES",11600,6800,5100,25900,1900,23400,12900,...,13700,41600,41900,2900,300,PASIR RIS,TAMPINES,None,None,None
8,SEMBAWANG,SEMBAWANG,"YISHUN,SEMBAWANG",6000,4000,4600,19500,500,14100,5800,...,14000,39100,22800,2500,200,YISHUN,SEMBAWANG,None,None,None
9,OUTRAM,OUTRAM,"BUKIT MERAH,OUTRAM,QUEENSTOWN",4100,3700,3700,15100,300,9100,5100,...,32900,23900,14000,1200,300,BUKIT MERAH,OUTRAM,QUEENSTOWN,None,None
10,SENGKANG,SENGKANG,"HOUGANG,SENGKANG,SERANGOON,PUNGGOL",13300,8900,11100,49100,1500,36800,14900,...,18400,78600,61600,17600,400,HOUGANG,SENGKANG,SERANGOON,PUNGGOL,None
11,JURONG WEST,JURONG WEST,"PIONEER,JURONG WEST,JURONG EAST,BOON LAY,TUAS",7200,6300,5800,27900,700,20600,7400,...,18700,39100,36800,1000,100,PIONEER,JURONG WEST,JURONG EAST,BOON LAY,TUAS

In [115]:
town1 = town.merge(mapp, left_on = 0, right_on = 1, how = 'inner').rename(columns = {'0_x': 0})
town2 = town.merge(mapp, left_on = 0, right_on = 2, how = 'inner').rename(columns = {'0_x': 0})
town3 = town.merge(mapp, left_on = 0, right_on = 3, how = 'inner').rename(columns = {'0_x': 0})
town4 = town.merge(mapp, left_on = 0, right_on = 4, how = 'inner').rename(columns = {'0_x': 0})

'ANG MO KIO'

In [116]:
x = town.merge(mapp, left_on = 0, right_on = 0, how = 'inner').rename(columns = {'0_x': 0})

In [119]:
dfx = pd.concat([x,town1,town2,town3,town4])

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [130]:
final_map = dfx.iloc[:, :-6]

In [141]:
df2 = df.merge(final_map, left_on = 'town', right_on = 0, how = 'left')

In [148]:
df2.loc[df2[0].isnull()]

,block,flat_model,flat_type,floor_area_sqm,lease_commence_date,month,remaining_lease,resale_price,storey_range,street_name,...,income_sgd_8000_to_8999,income_sgd_9000_to_9999,industry_public_admin_education,dwelling_condominiums_and_other_apartments,dwelling_hdb_1_and_2_room_flats,dwelling_hdb_3_room_flats,dwelling_hdb_4_room_flats,dwelling_hdb_5_room_and_executive_flats,dwelling_landed_properties,dwelling_others
658,668,Model A,3 ROOM,73.0,1984,2000-01,NaN,190000.0,07 TO 09,CHANDER RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
659,8,Improved,3 ROOM,76.0,1971,2000-01,NaN,195000.0,13 TO 15,JLN KUKOH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
660,8,Improved,3 ROOM,76.0,1971,2000-01,NaN,198000.0,13 TO 15,JLN KUKOH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
661,28,Improved,3 ROOM,74.0,1977,2000-01,NaN,175000.0,04 TO 06,KELANTAN RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
662,30,Improved,3 ROOM,66.0,1981,2000-01,NaN,175000.0,13 TO 15,KELANTAN RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
663,334,Improved,4 ROOM,83.0,1981,2000-01,NaN,315000.0,22 TO 24,KRETA AYER RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
664,269A,New Generation,3 ROOM,67.0,1984,2000-01,NaN,200000.0,04 TO 06,QUEEN ST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
665,3,New Generation,3 ROOM,67.0,1977,2000-01,NaN,180000.0,07 TO 09,ROCHOR RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
666,640,Model A,3 ROOM,74.0,1984,2000-01,NaN,173800.0,07 TO 09,ROWELL RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
667,4,Improved,3 ROOM,67.0,1974,2000-01,NaN,185000.0,10 TO 12,SAGO LANE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668,5,Improved,3 ROOM,59.0,1977,2000-01,NaN,220000.0,16 TO 18,TG PAGAR PLAZA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,634,Model A,3 ROOM,88.0,1985,2000-01,NaN,170000.0,07 TO 09,VEERASAMY RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
670,637,Model A,4 ROOM,111.0,1985,2000-01,NaN,330000.0,10 TO 12,VEERASAMY RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1321,101,Improved,5 ROOM,118.0,1981,2000-01,NaN,393000.0,07 TO 09,AH HOOD RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322,1,Improved,3 ROOM,68.0,1979,2000-01,NaN,196000.0,07 TO 09,BEACH RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1323,15,Improved,4 ROOM,77.0,1975,2000-01,NaN,260000.0,07 TO 09,BEACH RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1324,24,Improved,3 ROOM,68.0,1972,2000-01,NaN,150000.0,07 TO 09,BENDEMEER RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1325,24,Improved,3 ROOM,68.0,1972,2000-01,NaN,155500.0,07 TO 09,BENDEMEER RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1326,45,Improved,3 ROOM,66.0,1972,2000-01,NaN,152000.0,07 TO 09,BENDEMEER RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1327,462,Improved,3 ROOM,60.0,1981,2000-01,NaN,180000.0,07 TO 09,CRAWFORD LANE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1328,462,Improved,3 ROOM,60.0,1981,2000-01,NaN,160000.0,07 TO 09,CRAWFORD LANE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1329,461,Standard,5 ROOM,122.0,1981,2000-01,NaN,499000.0,16 TO 18,CRAWFORD LANE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1330,96,New Generation,3 ROOM,68.0,1979,2000-01,NaN,162000.0,01 TO 03,GEYLANG BAHRU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1331,68,Improved,3 ROOM,65.0,1974,2000-01,NaN,144000.0,07 TO 09,GEYLANG BAHRU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1332,10,New Generation,3 ROOM,67.0,1976,2000-01,NaN,190000.0,07 TO 09,GLOUCESTER RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1333,32,Standard,3 ROOM,53.0,1971,2000-01,NaN,120000.0,01 TO 03,JLN BAHAGIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1334,9,Standard,2 ROOM,50.0,1970,2000-01,NaN,72000.0,04 TO 06,JLN BATU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1335,9,Standard,2 ROOM,48.0,1970,2000-01,NaN,85000.0,04 TO 06,JLN BATU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1336,11,Improved,5 ROOM,131.0,1986,2000-01,NaN,383000.0,07 TO 09,JLN BATU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1337,102,New Generation,4 ROOM,94.0,1981,2000-01,NaN,265000.0,04 TO 06,JLN RAJAH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501705,63,Improved,3 ROOM,65.0,1974,2019-01,54.0,330000.0,13 TO 15,KALLANG BAHRU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501706,64,Improved,3 ROOM,65.0,1974,2019-01,54.0,260000.0,04 TO 06,KALLANG BAHRU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501707,804,Improved,3 ROOM,59.0,1981,2019-01,61.0,335000.0,04 TO 06,KING GEORGE'S AVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501708,77,Improved,3 ROOM,59.0,1973,2019-01,53.0,205000.0,04 TO 06,LOR LIMAU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501709,20,New Generation,3 ROOM,67.0,1984,2019-01,64.0,290000.0,01 TO 03,ST. GEORGE'S RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501710,16,Improved,3 ROOM,65.0,1975,2019-01,55.0,320000.0,07 TO 09,UPP BOON KENG RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501711,82,Improved,3 ROOM,66.0,1974,2019-01,54.0,285000.0,13 TO 15,WHAMPOA DR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501712,34,Improved,3 ROOM,68.0,1972,2019-01,52.0,305000.0,07 TO 09,WHAMPOA WEST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501713,34,Improved,3 ROOM,68.0,1972,2019-01,52.0,340000.0,10 TO 12,WHAMPOA WEST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501714,38B,Model A,4 ROOM,92.0,2012,2019-01,92.0,720000.0,07 TO 09,BENDEMEER RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501715,38C,Model A,4 ROOM,89.0,2012,2019-01,92.0,686888.0,16 TO 18,BENDEMEER RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501716,8,DBSS,4 ROOM,95.0,2011,2019-01,91.0,870000.0,31 TO 33,BOON KENG RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501717,38,Model A,4 ROOM,101.0,1997,2019-01,77.0,585000.0,07 TO 09,CAMBRIDGE RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501718,11,Model A,4 ROOM,90.0,2004,2019-01,84.0,630000.0,13 TO 15,FARRER PK RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501719,60,Model A,4 ROOM,100.0,1999,2019-01,79.0,618000.0,16 TO 18,GEYLANG BAHRU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501720,59C,Model A,4 ROOM,100.0,1998,2019-01,78.0,638000.0,16 TO 18,GEYLANG BAHRU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501721,9,New Generation,4 ROOM,91.0,1976,2019-01,56.0,515000.0,10 TO 12,GLOUCESTER RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501722,9,New Generation,4 ROOM,91.0,1976,2019-01,56.0,480000.0,10 TO 12,GLOUCESTER RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501723,111,Simplified,4 ROOM,84.0,1987,2019-01,67.0,520000.0,10 TO 12,MCNAIR RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501724,14,Model A,4 ROOM,103.0,1999,2019-01,79.0,623000.0,10 TO 12,UPP BOON KENG RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501725,3A,Model A,4 ROOM,90.0,2006,2019-01,86.0,705000.0,19 TO 21,UPP BOON KENG RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501726,9,DBSS,5 ROOM,117.0,2011,2019-01,91.0,1185000.0,37 TO 39,BOON KENG RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501727,56,Standard,5 ROOM,114.0,1974,2019-01,54.0,570000.0,16 TO 18,GEYLANG BAHRU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501728,60,Improved,5 ROOM,122.0,1999,2019-01,79.0,560000.0,01 TO 03,GEYLANG BAHRU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501729,30,Improved,5 ROOM,122.0,1987,2019-01,67.0,623000.0,07 TO 09,JLN BAHAGIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501730,103,Model A,5 ROOM,139.0,1984,2019-01,64.0,695000.0,19 TO 21,JLN RAJAH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501731,807,Improved,5 ROOM,115.0,1981,2019-01,61.0,708000.0,25 TO 27,KING GEORGE'S AVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501732,13,Improved,5 ROOM,122.0,1999,2019-01,79.0,750000.0,04 TO 06,UPP BOON KENG RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501733,46,Apartment,EXECUTIVE,144.0,1994,2019-01,74.0,870000.0,19 TO 21,BENDEMEER RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501734,46,Apartment,EXECUTIVE,146.0,1994,2019-01,74.0,955000.0,16 TO 18,BENDEMEER RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [164]:
df = df.drop(['block', 'street_name', 'storey_range', 'remaining_lease'], axis = 1)

In [179]:
df.month.str.split('-', expand = True)[0]

0        2000
1        2000
2        2000
3        2000
4        2000
5        2000
6        2000
7        2000
8        2000
9        2000
10       2000
11       2000
12       2000
13       2000
14       2000
15       2000
16       2000
17       2000
18       2000
19       2000
20       2000
21       2000
22       2000
23       2000
24       2000
25       2000
26       2000
27       2000
28       2000
29       2000
         ...
80615    2019
80616    2019
80617    2019
80618    2019
80619    2019
80620    2019
80621    2019
80622    2019
80623    2019
80624    2019
80625    2019
80626    2019
80627    2019
80628    2019
80629    2019
80630    2019
80631    2019
80632    2019
80633    2019
80634    2019
80635    2019
80636    2019
80637    2019
80638    2019
80639    2019
80640    2019
80641    2019
80642    2019
80643    2019
80644    2019
Name: 0, Length: 502499, dtype: object

In [278]:
df4

Index(['flat_type', 'floor_area_sqm', 'lease_commence_date', 'month',
       'resale_price', 'town', 'income_below_sgd_1000',
       'income_no_working_person', 'income_sgd_10000_to_10999',
       'income_sgd_1000_to_1999', 'income_sgd_11000_to_11999',
       'income_sgd_12000_to_12999', 'income_sgd_13000_to_13999',
       'income_sgd_14000_to_14999', 'income_sgd_15000_to_17499',
       'income_sgd_17500_to_19999', 'income_sgd_20000_over',
       'income_sgd_2000_to_2999', 'income_sgd_3000_to_3999',
       'income_sgd_4000_to_4999', 'income_sgd_5000_to_5999',
       'income_sgd_6000_to_6999', 'income_sgd_7000_to_7999',
       'income_sgd_8000_to_8999', 'income_sgd_9000_to_9999', 'lat', 'lon',
       'Distance_mrt(km)', 'Distance_sch(km)', 'Distance_mall(km)',
       'Distance_cbd(km)', 'Distance_uni(km)'],
      dtype='object')

In [287]:
df4.month.head()

0    2000-01
1    2000-01
2    2000-01
3    2000-01
4    2000-01
Name: month, dtype: object

In [352]:
df4.month  = df4.month.str.split('-', expand = True)[0]

In [353]:
df4  = df4.rename(columns = {'month':'year'})

In [354]:
df4 = df4.groupby(['town', 'flat_type','year']).mean().reset_index()

In [355]:
df4['age'] = 2019 - df4.lease_commence_date

In [357]:
df4.year = pd.to_numeric(df4.year)

In [358]:
df4["year_no"] = df4.year - 1999

In [359]:
df4 = df4.groupby(['town', 'flat_type']).apply(lambda x: x.assign(price_past_10 = lambda y: y.resale_price.shift(10)))
df4 = df4.groupby(['town', 'flat_type']).apply(lambda x: x.assign(price_past_9 = lambda y: y.resale_price.shift(9)))
df4 = df4.groupby(['town', 'flat_type']).apply(lambda x: x.assign(price_past_8 = lambda y: y.resale_price.shift(8)))
df4 = df4.groupby(['town', 'flat_type']).apply(lambda x: x.assign(price_past_7 = lambda y: y.resale_price.shift(7)))
df4 = df4.groupby(['town', 'flat_type']).apply(lambda x: x.assign(price_past_6 = lambda y: y.resale_price.shift(6)))
df4 = df4.groupby(['town', 'flat_type']).apply(lambda x: x.assign(price_past_5 = lambda y: y.resale_price.shift(5)))
df4 = df4.groupby(['town', 'flat_type']).apply(lambda x: x.assign(price_past_4 = lambda y: y.resale_price.shift(4)))
df4 = df4.groupby(['town', 'flat_type']).apply(lambda x: x.assign(price_past_3 = lambda y: y.resale_price.shift(3)))
df4 = df4.groupby(['town', 'flat_type']).apply(lambda x: x.assign(price_past_2 = lambda y: y.resale_price.shift(2)))
df4 = df4.groupby(['town', 'flat_type']).apply(lambda x: x.assign(price_past_1 = lambda y: y.resale_price.shift(1)))

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: 'town' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: 'flat_type' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: 'town' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: 'flat_type' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: 'town' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  after removing the cwd from sys.path.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: 'flat_type' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  after removing the cwd from sys.path.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: 'town' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: 'flat_type' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: FutureWarning: 'town' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: FutureWarning: 'flat_type' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: FutureWarning: 'town' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  import sys
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: FutureWarning: 'flat_type' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  import sys
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: FutureWarning: 'town' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: FutureWarning: 'flat_type' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: FutureWarning: 'town' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  if __name__ == '__main__':
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: FutureWarning: 'flat_type' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  if __name__ == '__main__':
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: FutureWarning: 'town' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  # Remove the CWD from sys.path while we load stuff.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: FutureWarning: 'flat_type' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  # Remove the CWD from sys.path while we load stuff.

In [360]:
df4 = df4.reset_index(drop = True)

In [321]:
df4 = df4[df4.year_no > 10]

In [362]:
df4 = df4.dropna()

In [365]:
df4_target = df4.groupby(['town', 'flat_type']).apply(lambda x: x.assign(price_target = lambda y: y.resale_price.shift(-5)))
df4_target = df4_target.reset_index(drop = True)

In [368]:
df4_target['target year'] = df4_target.year + 5

In [495]:
df4_target_dummy = pd.get_dummies(df4_target)

In [496]:
df4_target_train = df4_target_dummy[~df4_target_dummy.price_target.isnull()]
df4_target_predict = df4_target_dummy[df4_target_dummy.price_target.isnull()]

In [497]:
df4_target_predict = df4_target_predict[df4_target_predict['target year'] > 2018].drop('price_target', axis = 1)

In [498]:
X_train, X_test, y_train, y_test = train_test_split( df4_target_train.drop(['year', 'target year', 'price_target'], axis = 1) , df4_target_train['price_target'], test_size=0.2, random_state=42)

In [499]:
from sklearn.linear_model import LinearRegression

In [500]:
from sklearn.ensemble import AdaBoostRegressor, BaggingRegressor, GradientBoostingRegressor, RandomForestRegressor

In [501]:
reg = LinearRegression()
reg = reg.fit(X_train, y_train)
reg.score(X_test, y_test)

0.9689998492321941

In [502]:
ada = AdaBoostRegressor()
ada = ada.fit(X_train, y_train)
ada.score(X_test,y_test)

0.956002631208211

In [503]:
bag = BaggingRegressor()
bag = bag.fit(X_train, y_train)
bag.score(X_test,y_test)

0.9754944756363059

In [504]:
gbm = GradientBoostingRegressor()
gbm = bag.fit(X_train, y_train)
gbm.score(X_test,y_test)

0.9742201189056208

In [505]:
rfm = RandomForestRegressor()
rfm = bag.fit(X_train, y_train)
rfm.score(X_test,y_test)

0.9716744216922603

In [517]:
df4_target_predict['predicted_target'] = gbm.predict(df4_target_predict)

In [507]:
len(df4_target_predict)

542

In [515]:
df4_target_predict_nodum = df4_target[df4_target.price_target.isnull()]

In [512]:
df4_target_predict_nodum = df4_target_predict_nodum[df4_target_predict_nodum['target year'] > 2018].drop('price_target', axis = 1)

In [519]:
df4_target_predict_nodum['predicted_target'] = df4_target_predict['predicted_target']

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [521]:
df4_target_predict_nodum = df4_target_predict_nodum.drop('price_target', axis = 1)

In [524]:
df4_target_predict_nodum = df4_target_predict_nodum.rename(columns = {'predicted_target': 'price_target'})

In [525]:
final_df =df4_target_predict_nodum

In [578]:
final_df = final_df.reset_index().drop('index', axis = 1)

In [586]:
lst = []
for i, row in final_df.iterrows():
    
    town_df = final_df[final_df['town'] == row['town']]
    flat_df = town_df[town_df['flat_type'] == row['flat_type']]
    last_year = flat_df['year'].unique().max()
    price_last = flat_df[flat_df['year'] == last_year]['resale_price']
    lst.append((row['price_target'] - price_last))

In [587]:
lst = [int(lst[i]) for i in range(len(lst))]

In [585]:
len(final_df)

542

In [589]:
final_df['diff_price18'] = lst

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [599]:
final_df = pd.read_csv('final.csv')

In [601]:
final_df = final_df.iloc[:, 1:]

In [602]:
final_df['lat'] = final_df['lat'].apply(lambda x: round(x, 4))

In [605]:
final_df['lon'] = final_df['lon'].apply(lambda x: round(x, 4))

In [607]:
final_df.to_csv('final2.csv')

In [611]:
lat_lon = final_df[['town', 'lat', 'lon']].drop_duplicates()

In [612]:
lat_lon.to_csv('latlon.csv')

In [616]:
dfy = pd.read_csv('pgTowns.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (14,15,16,17,18,21,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [622]:
dfy.head()

,Unnamed: 0,Property Website,Title,Address,Postal Code,District,town,lat,lon,Size,...,LandSize,Latitude,ListedOn,ListingID,Longitude,Property Type,TOP,TotalUnits,Type,url
0,0,99.co,NaN,# 1 Loft Aljunied MRT 5 min (411m) Lorong 24 G...,NaN,14,GEYLANG,1.3201,103.8918,571 sqft (built up),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,99.co,NaN,# 1 Loft Aljunied MRT 5 min (411m) Lorong 24 G...,NaN,14,GEYLANG,1.3201,103.8918,581 sqft (built up),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,99.co,NaN,# 1 Suites Aljunied MRT 6 min (476m) Lorong 20...,NaN,14,GEYLANG,1.3201,103.8918,569 sqft (built up),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,99.co,NaN,"# 1 Suites Lorong 20 Geylang,",NaN,14,GEYLANG,1.3201,103.8918,290 sqft (built up),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,99.co,NaN,1 Balestier Road,NaN,12,TOA PAYOH,1.3343,103.8563,250 sqft (built up),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN